* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  color: #111827;
  background: #ffffff;
}

a {
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.75;
}